.about {
    align-items: center;
    text-align: center;
    background: linear-gradient(300deg, #0d0d0d, #a6a6a6);
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
    padding: 10px 0;
}

.info-box {
    height: 100%;
    align-items: center;
}

.infos {
    grid-auto-columns: calc(100%/4);
    padding: 20px 0px;
    gap: 30px;
    justify-content: center;
}

.profil {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.img-profil {
    border-radius: 30px;
}

.me {
    grid-template: auto;
    align-items: center;
    justify-items: center;
}
.me button {
    margin: 15px 0;
}

.info-article {
    transition: all 1s ease;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--grey-light);
    
}
.info-article:hover{
    transform: translate(10px,10px);
    color: var(--or);
}

.info-ul {
    text-align: initial;
    gap: 15px;
    padding: 20px;
}

li.info-item {
    text-decoration: underline;
}

@media (max-width: 600px){
    .infos{
        display: flex;
        flex-direction: column;
        color: var(--or);
    }
    .infos h2{
        color: var(--grey-dark);
    }
    .info-ul{
        text-align: center;

    }
}