main {
    background-color: var(--grey-dark-medium);
    display: grid;
    grid-auto-rows: 1fr;
    gap: 20px;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }
}