*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cube-size: 200px;
    --face-size: calc(var(--cube-size)/2);
    /* Color */
    --grey-dark: #0D0D0D;
    --grey-dark-medium: #262626;
    --grey: #595959;
    --grey-light: #A6A6A6;
    --grey-light-medium: #737373;
}
.flou:hover{
    opacity: 0.4;
    z-index: -1;
}
article.see{
    opacity: 1;
    z-index: 1;
}
img {
    width: 100%;
    height: 100%;
}
.grid-col{
    display: grid;
    grid-auto-flow: column;
}
.grid-row{
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 100%;
}
.center{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;
}a{text-decoration: none; color: inherit;}
/* //////////////////////// */
